.fundraising-info {

	.funds-raised-active .asset-funds-raised,
	.days-left .symbol,
	.asset-donations .symbol {
		font-size: @fundraising-info-font-size;	// Optionally set by theme
		line-height: normal;
	}

	.funds-raised-active {
		.asset-funds-raised {
			.goal {
				.pull-right();
			}
		}
		& + .progress-bar-pgs {
			margin-top: @line-height-computed/2;
		}
	}
}