h1, h2, h3, h4, h5{
	font-weight: 500;
	color: @_ugm_brand-primary-color;
	line-height:1.1;
}

h1{
	font-size:@font-size-base*2.6;
}
h2{
	font-size:@font-size-base*2.6;
}
h3{
	font-size:@font-size-base*2.15;
}
h4{
	font-size:@font-size-base*1.7;
}
h4{
	font-size:@font-size-base;
}


.nav-breadcrumb .container .breadcrumb>li>a{
	color:#777;

	&:hover{
		color:@_ugm_brand-primary-color;
	}
}